@charsetUTF-8;


body{
    background-color: black;
}

h1#principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: rgb(117, 12, 12);
    text-align: ;
}
h2{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(204, 99, 99);
text-align: center;
t
}
p{
    color: aliceblue;
}